# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
cloud-api-commons/target/generated-sources/
cloud-eureka-server-7001/target/classes/application.yml
cloud-eureka-server-7001/target/generated-sources/
cloud-eureka-server-7002/target/classes/application.yml
cloud-eureka-server-7002/target/generated-sources/
cloud-feign-form-9002/pom.xml
cloud-feign-form-9002/src/test/
cloud-feign-form-9002/target/classes/META-INF/
cloud-feign-form-9002/target/classes/application.yml
cloud-feign-form-9002/target/generated-sources/
cloud-file-upload-9000/pom.xml
cloud-file-upload-9000/src/main/java/com/hzy/file/common/
cloud-file-upload-9000/src/test/
cloud-file-upload-9000/target/classes/application.yml
cloud-file-upload-9000/target/generated-sources/
